<div class="container-fluid my-4">
    <div class="row">
        <div class="col-6 mx-auto">
            <form method="post" action="{{ path('conducteur_index') }}">
                <div class="form-group">
                    <input type="text" name="destination_search" class="form-control" placeholder="Rechercher un conducteur...">
                </div>
                <button class="btn btn-success pull-right">Chercher</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-6 mx-auto">
            <form method="post" action="{{ path('voiture_index') }}">
                <div class="form-group">
                    <input type="text" name="voiture_search" class="form-control" placeholder="Rechercher une voiture...">
                </div>
                <button class="btn btn-success pull-right">Chercher</button>
            </form>
        </div>
    </div>
</div>